<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="container">
            <div class="topIndex">
                <p><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></p>
                <h2>About Me</h2>
            </div>
            <div class="left">
                <img src="~/img/sg8.jpeg" alt="steven gerrard 2005" style="width: 450px;">
                <h4>Steven Gerrard</h4>
                <h4>I <img src="~/img/heart.png" alt="heart" style="width: 30px;"> this guy!</h4>
            </div>
            <div class="right">
                <p>Steven George Gerrard MBE (born 30 May 1980) is an English professional football manager and former player who manages Scottish Premiership club Rangers. He spent the majority of his playing career as a central midfielder for Liverpool, with most of that time spent as club captain, as well as captaining the England national team. Regarded as one of the greatest midfielders of his generation,[3][4][5] Gerrard was awarded the UEFA Club Footballer of the Year award in 2005, and the Ballon d'Or Bronze Award. In 2009, Zinedine Zidane and Pelé said that they considered Gerrard to be the best footballer in the world.[6][7] A versatile and well-rounded player, highly regarded for his leadership, Gerrard is the only footballer in history to score in an FA Cup Final, a League Cup Final, a UEFA Cup Final and a UEFA Champions League Final, winning on each occasion.[8]</p>
            </div>
        </div>
    </body>
</html>
