<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="container">
            <div class="topProjects">
                <p><span style="margin-left: 25%;"><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></span></p>
                <h3>Here are some projects of mine!</h3>
            </div>
            <div class="middle">
                <div class="midLeftProj">
                    <img src="~/img/salah.png" alt="salah" style="width: 200px;">
                </div>
                <div class="midRightProj">
                    <h5>Mohamed 'King of Egypt Mo' Salah</h5>
                    <p>He would go on to break the club's scoring record for a debut season, receiving the Premier League Golden Boot after registering a record 32 goals in 36 league games. He also became the first player to win three Premier League Player of the Month awards in the same season.</p>
                    <p>His record breaking performances saw him receive a number of other accolades at the end of the 2017–18 season, including the PFA Players' Player of the Year, the Football Writers' Player of the Year, and the PFA Fans' Player of the Year awards. He was also named in the 2017–18 PFA Team of the Year.</p>
                </div>
                <div class="midLeftProj">
                    <img src="~/img/mane.png" alt="mane" style="width: 200px;">
                </div>
                <div class="midRightProj">
                    <h5>Sadio Mane</h5>
                    <p>In 2015, Mané set a new Premier League record for the fastest hat-trick when he scored three times in 176 seconds during a 6–1 win over Aston Villa.[4] He transferred to Liverpool in 2016 for a fee of £34 million, making him the most expensive African player in history at that time.[5][6]</p>
                    <p>Mané has earned over 50 caps for Senegal since his debut in 2012, and represented the national team at the 2012 Olympics, 2015 Africa Cup of Nations, 2017 Africa Cup of Nations and the 2018 FIFA World Cup.</p>
                </div>
                <div class="midLeftProj">
                    <img src="~/img/firmino.png" alt="firmino" style="width: 200px;">
                </div>
                <div class="midRightProj">
                    <h5>Roberto 'Bobby' Firmino</h5>
                    <p>His creativity, goalscoring and work rate have earned him plaudits at Liverpool, with manager Jürgen Klopp referring to Firmino as the "engine" that propels the club’s counter-attacking system.[4]</p>
                    <p>Firmino made his international debut for Brazil in November 2014 and represented the nation at the 2015 Copa América and the 2018 FIFA World Cup.</p>
                    <p>Klopp has referred to Firmino as the "engine" that propels the team's relentless counter-attacking system; "If he loses the ball, he fights for it back. If he loses it again, he fights for it. He looks like the engine of the team."[4] The suitability of Firmino's playing style to Klopp's pressing system has meant that Firmino has been referred to as "Liverpool's most important player" on several occasions during the 2016–17 and 2017–18 seasons.[91][92]</p>
                </div>
            </div>
        </div>
    </body>
</html>
